.Notifications {
    border: 1px dashed #c1384c ;
    padding: 10px;
    width: 400px;
}


.Notifications [data-notification-type="default"] {
    color: blue;
}

.Notifications [data-notification-type="urgent"] {
    color: red;
}
.placing{
    position: absolute;
    top: 0;
    right: 10px;
    
}
.menuItem{
    text-align: end;
}